body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background: url(../img/fondo2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    color: white;
}
h2 {
    color: white;
}
p{
    color: white;
}