<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title> New Game registro </title>
    <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="css/mod.css">

</head>

<body>

    <form class="formulario">

        <h1>Publica el juego!!</h1>
        <div class="contenedor">

            <div class="input-contenedor">
                <i class="fas fa-frog icon"></i>

                <input type="type=" text required class="form-control" name="nom" id="nombre de juego"> Elige el juego

            </div>

            <div class="input-contenedor">
                <i class="fas fa-desktop icon "></i>
                <input type="text" placeholder="escribe la descripcion del juego">

            </div>
            <div class="enviar">
                <input type="file" style="float: left;"></button>
            </div>

            <div>
                <div class="enviar">
                    <button type="submit" style="float: left;">enviar </button>
                </div>


                <div class="home">
                    <button type="button" style="float: right;">volver al inicio</button>
                </div>
                <script src="valid.js"></script>
    </form>